@media only screen and (min-width:1601px) and (max-width:1920px){
    .tab-block{
        display: none !important;
    }

    .dekstop-block{
        display: block !important;
    }
}
@media only screen and (min-width:1601px) and (max-width: 1800px){
    .tab-block{
        display: none !important;
    }

    .dekstop-block{
        display: block !important;
    }
}
@media only screen and (min-width:992px) and (max-width:1440px) {
    .margin_from{
        margin-top: 7px; 
        margin-left:30px;
    }
    .margin_to{
        margin-top: 5px; 
        margin-left:55px;
    }
    .width-button{
        height: 35px; 
        width:100px; 
        text-align: center;
    }
    .font-signature{
        height:100px;
        width:200px;
    }

    .tab-block{
        display: none;
    }

    .dekstop-block{
        display: block;
    }
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .margin_from{
        margin-top: 7px; 
        margin-left:30px;
    }
    .margin_to{
        margin-top: 5px; 
        margin-left:55px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .margin_from{
        margin-top: 7px;
        margin-left: 5px;
    }
    .margin_to{
        margin-top: 5px;
        margin-left: 20px;
    }
    .width-button{
        height: 35px; 
        width: 70px; 
        text-align: center;
        font-size:10px;
    }

    .tab-block{
        display: block;
    }

    .input-style{
        margin-left: 10px !important;
        width: 75% !important;
    }

    .dekstop-block{
        display: none !important;
    }

    .font-size-right{
        font-size: 10px !important;
        padding-right: 0px;
        padding-left: 5px;
    }
    .p-fontsize{
        font-weight: bold;
        font-size: 12px;
    }

    .date-style:before{
        position: initial !important;
    }

    .date-style{
        position: initial !important;
        height: 30px !important;
    }

    .font-size{
        font-size: 10px!important;
    }

    .font-siz{
        font-size: 12px!important;
    }

    .font-sizes{
        font-size: 8px!important;
    }

    .font-size-gendec{
        font-size: 12px;
    }

    .font-size-calendar{

    }

    .font-inputSignature{
        width: 100px;
    }

    .width-create{
        /* width: 500px; */
        margin-right: 100px;
    }

    .aircraft_padding{
        margin-right: 10px;
    }

    .font-signature{
        height:100px;
        width:100px;
    }
}
@media only screen and (max-width: 600px) {
    .margin_from{
        margin-top: 7px;
        margin-left: 5px;
    }
    .margin_to{
        margin-top: 5px;
        margin-left: 20px;
    }
    .width-button{
        height: 35px; 
        width: 70px; 
        text-align: center;
        font-size:10px;
    }

    .tab-block{
        display: block;
    }

    .input-style{
        margin-left: 10px !important;
        width: 75% !important;
    }

    .dekstop-block{
        display: none !important;
    }

    .font-size-right{
        font-size: 10px !important;
        padding-right: 0px;
        padding-left: 5px;
    }

    .text-right{
        text-align: right !important; 
        margin-top: 10px !important;
    }

    .font-size{
        font-size: 8px!important;
    }

    .font-sizes{
        font-size: 14px!important;
    }

    .font-siz{
        font-size: 12px!important;
    }

    .font-sizes{
        font-size: 8px!important;
    }

    .font-size-gendec{
        font-size: 12px;
    }

    .font-size-calendar{

    }

    .font-inputSignature{
        width: 100px;
    }

    .width-create{
        /* width: 500px; */
        margin-right: 100px;
    }

    .aircraft_padding{
        margin-right: 10px;
    }

    .font-signature{
        height:100px;
        width:100px;
    }
}
@media only screen and (max-width: 599px){
    .margin_from{
        margin-top: 7px;
        margin-left: 5px;
    }
    .margin_to{
        margin-top: 5px;
        margin-left: 20px;
    }

    .tab-block{
        display: none;
    }

    .dekstop-block{
        display: block;
    }
}
@media only screen and (max-width:480px) {
    
}

@media only screen and (max-width:320px){
}